.button {
	padding: 13px 20px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #ececec;
	transition: all 0.3s ease 0s;
	box-shadow: inset -3px -4px 0 1px rgba(0, 0, 0, 0.6);

	&:hover {
		cursor: pointer;
		background-color: #c9c9c9;
		box-shadow: inset -2px -3px 0 1px rgba(0, 0, 0, 0.7);
	}

	&:active {
		box-shadow: inset -1px -3px 0 1px rgba(0, 0, 0, 0.8);
	}
}
