.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;

	.column {
		padding: 20px;
		text-align: center;
		position: relative;

		& + .column::after {
			content: '';
			width: 2px;
			height: 70%;
			background-color: rgb(70, 70, 70);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
