.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.comments__container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.none__comments {
	color: rgba(0, 0, 0, 0.479);
}

.title {
	padding: 10px 0;
}
